body{
    background-color: #233142;
    color: #e3e3e3;
}

#jobs_analytics{

}

#jobs_analytics h2{
    text-align: center;
   color: #f95959;
}

#jobs_analytics_cards_container{
    display: flex;
    justify-content: center;
    gap: 20px;
}

#jobs_analytics_cards_container div{
    padding: 20px;
    border: 2px solid #f95959;
    background-color: #455d7a;
}