body{
    background-color: #233142;
    color: #e3e3e3;
}
h1 {
    text-align: center;
    color: #f95959;;
}

#jobs_search_filter, #jobs_form {
   padding: 20px;
   font-size: 20px;
   display: flex;
   justify-content: center;
   gap: 20px;
}

#jobs_search_filter label, #jobs_form label{
    color: #455d7a;
    font-weight: bold;
    
}

#jobs_display {
    width: 60%;
   margin: 0% auto;
}

#jobs_display ul{
    width: 100%;
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 20px;
   border: 2px solid red;
}

#jobs_display ul li{
    width: 80%;
    list-style: none;
    display: flex;
   justify-content: space-between;
   gap: 10px;
   
}

.jobs_cards_buttons_container{
    display: flex;
}

.jobs_edit_btn{
    background-color: #00b8a9;
    color: #e3e3e3
}

.jobs_delete_btn{
    background-color: #f6416c;
    color: #e3e3e3
}

#jobs_analytics{

}

#jobs_analytics h2{
    text-align: center;
   /* color: #f95959; */
   color: #e3e3e3;
}

#jobs_analytics_cards_container{
    display: flex;
    justify-content: center;
    gap: 20px;
}

#jobs_analytics_cards_container div{
    padding: 10px 30px;
    border: 2px solid #2a363b;
    background-color: #455d7a;
}